body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#020202, #4b9494);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: blue;
    color: white;
}
